<section ng-controller="characterDetailsController as ctrl">
    <div class="my-navbar-details-comics col-xs-12 col-sm-12 col-md-12"><span
            class="my-header">{{ctrl.characterInfos.name}} - Comics(<span
                ng-bind="ctrl.totalCharacterComics"></span>)</span>
    </div>

    <div style="margin-top:60px;">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="characterComic in ctrl.characterComics">
                <div class="container-fluid characters-container">
                    <div class="card">
                        <img ng-src="{{characterComic.thumbnail.path + '/standard_xlarge.jpg'}} " alt="Avatar"
                            class="character-image">
                        <div class="div-character-name-title">
                            <a href="{{characterComic.urls[0].url}}" style="text-decoration:none" target="_blank">
                                <h4>
                                    <b>
                                        <span class="character-name-title"
                                            title="{{characterComic.title}}">{{characterComic.title}}
                                        </span>
                                    </b>
                                </h4>
                            </a>
                        </div>
                        <div class="character-description">{{characterComic.description || "Sem descrição"}}
                        </div>
                        <div class="rodape-card">Comic</div>
                    </div>
                </div>
            </div>
            <h1 ng-if="ctrl.totalCharacterComics < 1">Nenhum disponível</h1>
        </div>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 text-center">
        <button ng-click="ctrl.goProTopo()" class="btn-dark btn" ng-if="ctrl.characterComics.length > 4">Ir ao
            topo</button>
        <button ng-click="ctrl.verMaisComics()" ng-if="ctrl.characterComics.length < ctrl.totalCharacterComics"
            class="btn-dark btn">Ver mais</button>
    </div>


    <div class="my-navbar-details-series col-xs-12 col-sm-12 col-md-12">
        <span class="my-header">{{ctrl.characterInfos.name}} - Series(<span
                ng-bind="ctrl.totalCharacterSeries"></span>)</span>
    </div>

    <div style="margin-top:60px;">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 text-center" ng-repeat="characterSerie in ctrl.characterSeries">
                <div class="container-fluid characters-container">
                    <div class="card">
                        <img ng-src="{{characterSerie.thumbnail.path + '/standard_xlarge.jpg'}} " alt="Avatar"
                            class="character-image">
                        <div class="div-character-name-title">
                            <a href="{{characterSerie.urls[0].url}}" style="text-decoration:none" target="_blank">
                                <h4>
                                    <b>
                                        <span class="character-name-title"
                                            title="{{characterSerie.title}}">{{characterSerie.title}}
                                        </span>
                                    </b>
                                </h4>
                            </a>
                        </div>
                        <div class="character-description">{{characterSerie.description || "Sem descrição"}}
                        </div>
                        <div class="rodape-card">Serie</div>
                    </div>
                </div>
            </div>
            <h1 ng-if="ctrl.totalCharacterSeries < 1">Nenhum disponível</h1>
        </div>
    </div>

    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 text-center">
        <button ng-click="ctrl.goProTopo()" class="btn-dark btn" ng-if="ctrl.characterSeries.length > 0">Ir ao
            topo</button> 
            <button ng-click="ctrl.verMaisSeries()"
            ng-if="ctrl.characterSeries.length < ctrl.totalCharacterSeries" class="btn-dark btn">Ver mais</button>
    </div>


    <div class="my-navbar-details-series col-xs-12 col-sm-12 col-md-12">
        <span class="my-header">{{ctrl.characterInfos.name}} - Events(<span
                ng-bind="ctrl.totalCharacterEvents"></span>)</span>
    </div>

    <div style="margin-top:60px;">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 text-center" ng-repeat="characterEvent in ctrl.characterEvents">
                <div class="container-fluid characters-container">
                    <div class="card">
                        <img ng-src="{{characterEvent.thumbnail.path + '/standard_xlarge.jpg'}} " alt="Avatar"
                            class="character-image">
                        <div class="div-character-name-title">
                            <a href="{{characterEvent.urls[0].url}}" style="text-decoration:none" target="_blank">
                                <h4>
                                    <b>
                                        <span class="character-name-title"
                                            title="{{characterEvent.title}}">{{characterEvent.title}}
                                        </span>
                                    </b>
                                </h4>
                            </a>
                        </div>
                        <div class="character-description">{{characterEvent.description || "Sem descrição"}}
                        </div>
                        <div class="rodape-card">Event</div>
                    </div>
                </div>
            </div>
            <h1 ng-if="ctrl.totalCharacterEvents < 1">Nenhum disponível</h1>
        </div>
    </div>

    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 text-center">
        <button ng-click="ctrl.goProTopo()" class="btn-dark btn" ng-if="ctrl.characterEvents.length > 0">Ir ao
            topo</button> 
            <button ng-click="ctrl.verMaisEvents()"
            ng-if="ctrl.characterEvents.length < ctrl.totalCharacterEvents" class="btn-dark btn">Ver mais</button>
    </div>
</section>