<div class="container-fluid characters-container">
    <div class="card">
        <img ng-src="{{ctrl.character.thumbnail.path + '/standard_xlarge.jpg'}} " alt="Avatar"
            class="character-comics-image">
        <div class="container2">
            <h4><b><span class="my-span character-name-title">{{ctrl.character.name}}</span></b></h4>
            <div class="character-comics-description">{{ctrl.character.description || "Sem descrição"}}</div>
        </div>
        <span style="padding:5px;"><button class="btn btn-dark" ng-click="ctrl.seeDetails(ctrl.characterId)">Comics
                <span class="badge">{{ctrl.character.comics.available}}</span></button></span>
    </div>
</div>