.character-description {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 200px;
}

.character-name-title {
    color: #0f0f0f;
    font-family: Trebuchet MS;
    font-weight:bold;
    font-size:20px;
}

.btn {
    width: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.div-character-name-title{
    font-size: 18px;
    width:250px;
    padding:3px 3px 0px 0px;
}

.div-character-description{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    width:250px;
    padding:3px 3px 0px 0px;
}